# Atmel SAM SPI

# Copyright (c) 2019 Gerson Fernando Budke
# Copyright (c) 2018 qianfan Zhao
# SPDX-License-Identifier: Apache-2.0

config SPI_SAM
	bool "Atmel SAM series SPI driver"
	default y
	depends on DT_HAS_ATMEL_SAM_SPI_ENABLED
	select GPIO
	help
	  Enable support for the SAM SPI driver.

if SPI_SAM

config SPI_SAM_DMA
	bool "SPI SAM DMA Support"
	select DMA
	help
	  Enable using DMA with SPI for SPI instances that enable dma channels in
	  their device tree node.

config SPI_SAM_DMA_THRESHOLD
	int "SPI SAM DMA Threshold"
	default 32
	depends on SPI_SAM_DMA
	help
	  Number of bytes in transfer before using DMA if available.

config SPI_SAM_INTERRUPT
	bool "SPI SAM Interrupt Mode"
	default y if SPI_ASYNC
	help
	  Enable SPI transfers using interrupts instead of blocking requests.

endif # SPI_SAM
